<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/front.css') }}">
    <title>FARMOPS ALTISSIMO</title>
</head>

<body>
    <div class="container">


        <a href="/daya">
            <div class="kotak">
                <p>NEXT</p>
            </div>
        </a>

        <h3>Halo Farmz!!!</h3>

        <div>
            <img class="logo" src="{{ url_for('static',filename='img/logo.svg')}}" id="logo" width="80px" />
        </div>



    </div>
</body>

</html>